html,
body,
#timeline {
  background-color: blue;
  /* cursor: none; */
  height: 100%;
  margin: 0;
  user-select: none;
  overflow-y: hidden;
}

body {
  overflow-x: auto;
  /* fix Chrome */
  /* pointer-events: none; */
}

#title {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  padding: 0 0 10px 0;
  border-bottom: solid 2px white;
}

.dot {
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 12px 12px white;
  display: inline-block;
  height: 16px;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 16px;
}

#timeline {
  min-width: 1500px;
}

#timeline svg {
  height: 100%;
  width: 100%;
}

#timeline svg {
  pointer-events: none;
}

#timeline svg rect {
  pointer-events: all;
}

#timeline svg text.hover {
  font-weight: bold;
}

.scroll {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* background-color: white;
  opacity: 0.25; */
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  height: 100%;
  width: 10%;
}

.scroll#scroll-left {
  left: 0;
}

.scroll#scroll-right {
  right: 0;
}

::-webkit-scrollbar {
  height: 12;
}

::-webkit-scrollbar-track {
  background: blue;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: solid 4px blue;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}